
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section slide{
<div class="hom-slider">
    <div class="container">
        <div id="sequence">
            <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
            <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
            <ul class="sequence-canvas">
                <li class="animate-in">
                    <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Prokenex shop</span></div>

                    <div class="flat-caption caption3 formLeft delay500 text-center">
                        <p>Giới hạn nào cho niềm đam mê!<br>Xách vợt lên và đi với đầy đủ phụ kiện được cung cấp bởi Prokennex shop</p>
                    </div>

                    <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img src="~/Access/images/slider_mogensen.png" alt=""></div>
                </li>
                <li>
                    <div class="flat-caption caption1 formLeft delay400 text-center">
                        <h1>Sản phẩm chính hãng</h1>
                    </div>
                    <div class="flat-caption caption3 formLeft delay400 text-center">
                        <h2>Sự hài lòng của khách hàng là tiêu chí hàng đầu<br>Bạn có thể hoàn toàn yên tâm khi lựa chọn sản phẩm của chúng tôi !</h2>
                    </div>
                    <div class="flat-image formBottom delay200" data-bottom="true"><img src="~/Access/images/slider_lee.gif" alt=""></div>
                </li>
                <li>
                    <div class="flat-caption caption1 formLeft delay400 text-center">
                        <h1>Giao hàng tiện lợi</h1>
                    </div>
                    <div class="flat-caption caption3 formLeft delay500 text-center">
                        <p>Chỉ với một cú click chuột <br>Sản phẩm sẽ đến tay người dùng nhanh nhất có thể</p>
                    </div>
                    <div class="flat-image formBottom delay200" data-bottom="true"><img src="~/Access/images/slider_lindan.png" alt=""></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="promotion-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="promo-box"><img src="~/Access/images/anhphu1.jpg" alt=""></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="promo-box"><img src="~/Access/images/anhphu2.jpg" alt=""></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="promo-box"><img src="~/Access/images/anhphu3.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
    }

<div class="container_fullwidth">
    <div class="container">
        <div class="hot-products">
            <h3 class="title"><strong>Hot</strong> Products</h3>
            <div class="control"><a id="prev_hot" class="prev" href="#">&lt;</a><a id="next_hot" class="next" href="#">&gt;</a></div>
            <ul id="hot">
                <li>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="offer">- %20</div>
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/forza-light 9.9.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 10</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/forza-mega-speed-99-nano.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza mega speed 9</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="offer">New</div>
                                <div class="thumbnail"><a href="details"><img width="150" height="220" src="~/Access/images/products/small/kumpoo-smart-i7.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Kumpoo smart i7</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Lining-90TD.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Lining 90TD</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="offer">- %20</div>
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Victor-Arrowspeed18.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Victor Arrow speed</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Victor-BS12.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Victor BS12</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="offer">New</div>
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Lining-90TD.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Lining 90TD</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Victor-BS12.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Victor BS12</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="featured-products">
            <h3 class="title"><strong>Featured </strong> Products</h3>
            <div class="control"><a id="prev_featured" class="prev" href="#">&lt;</a><a id="next_featured" class="next" href="#">&gt;</a></div>
            <ul id="featured">
                <li>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/lining-hc1100-black.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Lining HC1100 black</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/forza-light 9.9.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 9</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="offer">New</div>
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Victor-BS12.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Victor BS12</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="150" height="220" src="~/Access/images/products/small/kumpoo-smart-i7.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Kumpoo smart I7</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Victor-Arrowspeed18.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 10</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/forza-mega-speed-99-nano.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 10</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Yonex-Voltric7.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 10</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="products">
                                <div class="thumbnail"><a href="details"><img width="170" height="220" src="~/Access/images/products/small/Yonex-Voltric7.jpg" alt="Product Name"></a></div>
                                <div class="productname">Vợt cầu lông Forza light 10</div>
                                <h4 class="price">$451.00</h4>
                                <div class="button_group"><button class="button add-cart" type="button">Add To Cart</button><button class="button compare" type="button"><i class="fa fa-exchange"></i></button><button class="button wishlist" type="button"><i class="fa fa-heart-o"></i></button></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        @{Html.RenderAction("trademark", "Home"); }
    </div>
</div>
